<div class="row">
    <div class="container">
        <div class="left-side">
            <img src="../../../assets/logoAP.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="right-side">
            <a href = "https://www.linkedin.com/in/paula-cardone-zan/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href = "https://github.com/mutatiismutandiis"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" id="myButton" (click)="login()">Login</button>
        </div>
    </div>
</div>