<div class="row">
    <table>
        <caption>Projects</caption>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>GithHub Repository</th>
        </tr>
        <tr>
            <td id="title">Professional Page </td>
            <td id="description">Professional page for a Spanish-Italian translator, where she details and offers her services. It was made using HTML, CSS, JS and Bootstrap, and the code is available by clicking on the image.</td>
            <td><a href="https://github.com/mutatiismutandiis/pagina-profesional"> 
                <img src="../../../assets/proyecto1.png" class="img-fluid img-proyecto1">   
                </a>
            </td>
        </tr>
        <tr>
            <td id="title">CV</td>
            <td id="description">Curriculum vitae in English for searching a job abroad. It was made using HTML, CSS, JS and Bootstrap, and the code is available by clicking on the image.</td>
            <td><a href="https://github.com/mutatiismutandiis/cv-ingles"> 
                <img src="../../../assets/proyecto2.png" class="img-fluid img-proyecto2">   
                </a>
            </td>
        </tr> 
        <tr>
            <td id="title">Portfolio</td>
            <td id="description">Frontend of a personal Portfolio carried out as an evaluation of <i>"Argentina Programa 2da Etapa (#YoProgramo)"</i>, mainly using Angular and Bootstrap tools. The code is available by clicking on the image.</td>
            <td><a href="https://github.com/mutatiismutandiis/frontend"> 
                <img src="../../../assets/proyecto3.png" class="img-fluid img-proyecto3">   
                </a>
            </td>
        </tr>
    </table>
</div>
