<div class="row">
    <div class="left-column">
        <img src="../../../assets/perfil.png" class="img-fluid" id="profile">
    </div>
    <div class="center-colum">
        <p id="name"> Paula Cardone </p>
        <p id="title">Full Stack Developer Jr.</p>
    </div>  
    <div class="right-colum"> 
        <span>
            <h1>About me</h1>
            <p>I am a mathematician, studying programming. I am responsible, organized, a team worker, creative and a critical thinker.<br>
            I am fluent in Spanish, English an Italian. <br>
            Also, I am interested in Data Science.</p>
        </span>
    </div>
</div>    
