<div class="row">
    <table>
        <caption>Education</caption>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Location</th>
            <th>Description </th>
        </tr>
        <tr>
            <td id="title">Full Stack PHP</td>
            <td id="date">2022</td>
            <td><p id="company">Gobierno de la Ciudad de Buenos Aires</p>
                <p id="city">(Argentina)</p></td>
            <td><p>In progress</p>
                <p id="skills">Skills: HTML | CSS | Bootstrap Git| JavaScript | TypeScrpit | MySQL | PHP </p></td>
        </tr> 
        <tr>
            <td id="title">Diploma in data science with R and Python</td>
            <td id="date">2022</td>
            <td><p id="company">Insitituto de Data Science Argentina</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>In progress.</p>
                <p id="skills">Skills: Python | R.</p></td>
        </tr>
        <tr>
            <td id="title">PhD. in Engineering</td>
            <td id="date">2019 - 2022</td>
            <td><p id="company">FCEIA - UNR</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>Pending thesis.</p>
                <p id="skills">Skills: Matlab | LateX | Linux</p></td>
        </tr>
        <tr>
            <td id="title">B.S. Mathematics</td>
            <td id="date">2013 - 2017</td>
            <td><p id="company">FCEIA - UNR</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>Graduated with highest honors.</p>
                <p> GPA: 8.8/10</p>
                <p id="skills">Skills: Matlab | Scilab | LateX </p></td>
        </tr>       
    </table>
</div>

