
<div class="row">
    <table>
        <caption>Hard & Soft Skills</caption>
        <tr>
            <th>Programming Languages</th>
            <th>Frameworks & Others </th>
            <th>Soft Skills</th>
        </tr>
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/git.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Team Work'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </tr>
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/CSS.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div></td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Critical thinking'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>     
        </tr>
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/js.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div></td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/latex.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Adaptability'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>     
        </tr> 
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/java.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div></td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/linux.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Agile Methodology'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>     
        </tr>
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/python.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div></td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/matlab.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Scrum Master'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>     
        </tr>
        <tr>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/r.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div></td>
            <td><div>
                <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../assets/geogebra.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>
            <td><div>
                <circle-progress
                [percent]="100"
                [radius]="80"
                [title]="'Research'"
                [showUnits]="false"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [titleColor]="'#706960'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#706960'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
            </td>     
        </tr>              
    </table>
</div>
