<div class="row">
    <table>
        <caption>Experience</caption>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Location</th>
            <th>Description </th>
        </tr>
        <tr>
            <td id="title">IT Student Support</td>
            <td id="date">July 2022 - Aug 2022</td>
            <td><p id="company">Commerzbank AG</p>
                <p id="city">(Prague, CZ)</p></td>
            <td><p>Updates to the SharePoint site of the company.</p>
                <p id="skills">Skills: HTML | CSS | JavaScript.</p></td>
        </tr>
        <tr>
            <td id="title">Doctoral Fellow</td>
            <td id="date">April 2019 - June 2022</td>
            <td><p id="company">CIFASIS - CONICET</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>Research in Discrete time approximate models in analysis and control of nonlinear systems. </p>
                <p>Member of "Simulation and Control of Dynamic Systems" research group.</p>
                <p id="skills">Skills: Matlab | LateX | Linux</p></td>
        </tr> 
        <tr>
            <td id="title">Teacher assistant</td>
            <td id="date">May 2018 - March 2021</td>
            <td><p id="company">FRRo - UTN</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>Mathematical analysis for engineering students.</p>
                <p>Lessons, correction of exams and production of study material. </p>
                <p id="skills">Skills: GeoGebra | LateX</p></td>
        </tr>
        <tr>
            <td id="title">Teacher assistant</td>
            <td id="date">March 2015 - June 2022</td>
            <td><p id="company">FCEIA - UNR</p>
                <p id="city">(Rosario, ARG)</p></td>
            <td><p>Statistics, Algebra and Mathematical analysis for engineering students.</p>
                <p>Lessons, correction of exams and production of study material.</p>
                <p id="skills">Skills: R | LateX </p></td>
        </tr>       
    </table>
</div>
